#box1 {
    background: url("../../assets/css-b1.png") fixed no-repeat;
    background-position: center;
}

#box3 {
    background: url("../../assets/css-b2.png") fixed no-repeat;
    background-position: center;
}